/* 전체 선택자 */
* {
  font-size: 24px;
}

/* 요소 선택자*/
body {
  margin: 20px;
}
a {
  text-decoration: none;
  color: red;
}
p {
  border: 2px solid blue;
}

.like {
  background-color: #fff9c4;
  border: 2px solid green;
}
/* 아이디 선택자*/
#lion {
  background-color: pink;
  border: 2px solid purple;
}
/* 속성 선택자*/
a[href^='http'] {
  color: orange;
}
/*자손 결합자*/
.bootcamp p {
  color: brown;
}
.bootcamp > blockquote > p {
  padding: 20px;
}
/* 선택자 그룹화*/
a,
h1,
#lion {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* 가상 요소 선택자*/
h1::before {
  content: '🐯 멋사';
}
h1::after {
  content: '🐯 15기';
}
/* 첫 글자 선택자 */
p::first-letter {
  font-size: 80px;
  font-weight: 900;
}
/* 선택된 텍스트 선택자 */
p::selection {
  background-color: darkblue;
  color: white;
}
/*가상 클래스 선택자*/
h1:hover {
  background-color: pink;
}
/* 포커스 되었을 때 */
a:focus {
  outline: 2px solid red;
  outline-offset: 10px;
}
h1:focus {
  outline: 2px solid blue;
}
a:link {
  color: purple;
}
a:visited {
  color: gray;
}

a:hover,
a:focus,
a:active {
  color: orange;
}

.frontend p:first-child {
  font-size: 16px;
}
frontend p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}
