body {
  margin: 20px;
}
.like {
  background-color: #ffc;
  position: relative;
  left: 50px;
  bottom: 20px;
}
.wrapper {
  width: 500px;
  border: 2px solid black;
  position: relative;
}
/* position absolute*/
.bootcamp {
  background: red;
  position: absolute;
  left: 50px;
  top: 100px;
}
.school {
  background: blue;
  position: fixed;
  right: 0;
  bottom: 0;
}
/* position: sticky*/
h1 {
  background-color: green;
  position: sticky;
  top: 0;
  z-index: 10;
}

.frontend,
.euid {
  position: relative;
  padding: 10px;
}
.container {
  background-color: #fcf;
  margin-top: 20px;
  p {
    background-color: white;
    padding: 20px;
    border: 1px solid currentColor;
    position: relative;
    top: -5px;
    left: 5px;
  }
}

/* z-index 속성*/
.frontend {
  background-color: #ff9;
  left: 50px;
  top: 30px;
  z-index: 1;
}
.euid {
  background-color: #9ff;
}
