/* header {
  padding: 10px; */
/* }

.menu-line {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.left-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-bar {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-bar span {
  display: block;
  height: 4px;
  background-color: #6b6b6b;
  border-radius: 2px;
}
.logo {
  margin-top: -4px;
  margin-left: 10px;
  width: 150px;
  cursor: pointer;
}

.search-form {
  flex: 1;
  display: flex;
  position: absolute;
  left: 35%;
  align-items: center;
  justify-content: center;

  .search-bar {
    margin-top: -4px;
    height: 30px;
    border: 1px solid #6b6b6b;
    border-radius: 10px 0 0 10px;
    max-width: 400px;
  }
  .mic_icon {
    margin-top: -4px;
    height: 28px;
    background: lightgray;
    border-radius: 50%;
  }
}
.search-botton {
  margin-top: -4px;

  width: 50px;
  height: 30px;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #6b6b6b;
}

.container {
  .menu-sidebar {
    width: 100px;
    height: 100dvh;
    align-items: center;
    text-align: center;
  }
  .icon {
    font-size: 15px;
  }
  .menu-bar-list {
    font-size: 10px;
  }
}
.menu-sidebar > li {
  padding: 10px;
}

.main-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  .new-content-text {
    font-size: 30px;
  }
  .content-management {
    inset-block-start: 0;
    inset-inline-start: 0;
  }
} */

body {
  margin: 10px;
}
.header-container {
  --btn-Heigh: 40px;
  --color-gray: #e7e9e8;
  --color-user-back: #a0c2ff;
  --color-user: #4474e0;
  --color-header-back: #f0f0ef;

  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  /* background: aqua; */

  .header-hamberger {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .home-btn {
    padding: 15px;
    border: 0;
    width: 160px;
  }

  .search-form {
    display: flex;
    justify-content: center;

    .search-bar {
      width: 350;
      height: var(--btn-Heigh);
      border-radius: 30px 0 0 30px;
      border: 1px solid var(--color-gray);
    }
    .search-botton {
      height: var(--btn-Heigh);
      width: 80px;
      border-radius: 0 30px 30px 0;
      border: 1px solid var(--color-gray);
    }
    .mic-icon {
      padding: 8px;
      margin-left: 5px;
      background: var(--color-gray);
      height: var(--btn-Heigh);
      border-radius: 50%;
    }
  }
  .make-container {
    display: flex;
    width: 300px;
    gap: 8px;
    .make-btn {
      display: flex;
      align-items: center;
      padding: 10px;

      height: var(--btn-Heigh);
      width: 150px;
      font-size: 25px;
      font-weight: 700;
      border-radius: 30px;
      border: 0;
      background: var(--color-gray);
    }
    .plus-icon {
      height: var(--btn-Heigh);
      padding: 10px;
    }
    .btn-bel {
      height: var(--btn-Heigh) x;
      width: 35px;
      border: 0;
      border-radius: 50%;
    }
    .btn-user {
      height: var(--btn-Heigh);
      background: var(--color-user-back);
      fill: var(--color-user);
      width: 35px;
      border: 0;
      border-radius: 50%;
    }
  }
}
