@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
:root {
  --green-100: #03cc5c;
  --green-200: #1bf008;
  --green-300: #03cca8;

  --gray-100: #bcc3c7;
  --gray-200: #9b9a90;
  --gray-300: #6d7478;

  --start-color: var(--green-200);
  --end-color: var(--green-300);
}

body {
  margin: 20px;
}
.text-logo {
  --size: 34.7504px;
  display: inline-block;
  justify-content: center;
  align-items: center;

  .text {
    /* background: linear-gradient(to left top, #03cca8, #03cc5c, #1bf008); */
    background: linear-gradient(var(--start-color), var(--end-color)); /* 기본은 top to bottom */
    color: transparent; /* 해당 요소를 투명으로 지정 */
    background-clip: text;

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    inline-size: var(--size);
    font-size: var(--size);
    line-height: 0.7;
    font-weight: 900;
    position: relative;
    top: -0.005em;
    left: -0.005em;
  }
}
/* 버튼 */
.circle-gradient {
  --size: 24px;
  --start-color: var(--green-200);
  --end-color: var(--green-300);

  background: var(--start-color) linear-gradient(var(--start-color), var(--end-color));
  inline-size: var(--size);
  aspect-ratio: 1 / 1;
  border: 0 none;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    inline-size: calc(var(--size) / 3);
    aspect-ratio: 1/1;
    background: var(--white);
    border-radius: inherit;
  }
}
